.cheap
  &__section
    padding-top: 0
  &__text
    text-align: center
    background-color: $main-color
  &__title
    margin: 0 auto
    padding: 100px 0
    max-width: 910px
    font-size: 32px
    line-height: 50px
    font-weight: 300
  &__advantages
  &-list
    display: flex
    justify-content: space-between
    margin: 0
    margin-top: 100px
    padding: 0
    list-style: none
    &__item
      max-width: 370px
    &__text
      position: relative
      margin: 0
      padding: 27px
      font-size: 16px
      line-height: 23px
      background-color: #f7f7f7
      &_bold
        +bold
    &__image
      z-index: -1
      position: absolute
      top: 0
      left: 0