.hero
  padding: 75px 0
  padding-bottom: 48px
  background-color: $secondary
  &-block
    display: flex
    justify-content: space-between
  &-text
    flex-basis: 51%
    padding-right: 122px    
    &__title      
      margin: 0
      margin-top: 3px
      margin-bottom: 37px
      +bold
      font-size: 41px
      line-height: 55px
    &__subtitle
      display: inline-block
      margin-bottom: 71px
      font-size: 20px
      +bold
  &-list
    list-style: none
    margin: 0
    padding: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 26px
    &__image
      display: flex
      justify-content: center
      // flex-basis: 40px
      align-items: center
      width: 40px
      height: 40px
      margin-right: 30px
      margin-top: -3px
      border: 2px solid $main-color
      border-radius: 50%
    &__text
      max-width: 250px
      font-size: 14px
      line-height: 24px
      font-weight: 300
  &-img
    box-shadow: 27px 27px 35px rgba(0,0,0,0.05),
    10px 7px 10px rgba(0,0,0,0.05)
  &-img
    margin-top: -26px

@media(max-width: 1200px)
  .hero
    &-block
      flex-direction: column
    &-list
      margin-bottom: 44px
    &-text
      padding-right: 0
    &-img
      object-fit: cover
@media(max-width: 768px)
  .hero
    padding: 40px 0
    &-text
      &__title
        font-size: 24px
        line-height: 1.2
        margin-bottom: 9px
      &__subtitle
        font-size: 16px
        margin-bottom: 31px
    &-list
      margin-bottom: 62px
      &__item
        margin-bottom: 24px
      &__text
        max-width: 200px
        font-size: 12px
        line-height: 12px
      &__image
        margin-right: 15px
    &-image
      width: 96%

